*{
    margin:0;
    padding: 0;
}
header{
    display:flex;
    position:fixed;
    max-height:80px;
    height: auto;
    max-width: 100%;
    width: auto;
    background-color:#FFFFFF;
    justify-content:space-between;
    align-items: center;
    flex-shrink: 1;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    flex-shrink: 1;
height: 86px;}

nav a{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
color: black;
font-size: 13px;
padding:19px;}

nav a:hover
{
   border-bottom: 5px solid #ff3f6c;
}

.logo{
    max-height: 45px;
    height: auto;
    max-width: 65px;
    width: auto;
    padding-left: 45px;
}

.searchbar{
    display: flex;
    height: 80px;
    width: 517px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;

}
.material-symbols-outlined searchbar3{
    align-items: center;
    justify-content: center;
    background-color: #f5f5f6;
    color: #696e79;
    font-size: 15px;
    height: 10px;
}
.searchbar2{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 440px;
    border-radius: 2px;
    color: #696e79;
    background-color: #f5f5f6;
    border: none;
    padding-left: 25px;
    flex-shrink: 1;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.items{
    height:40px;
    display: flex;
    align-items: center;
    width: 194px;
    flex-shrink: 1;
    justify-content: space-around;
}

div a{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 70;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    width: 100%;
}
sup{
    color: red;
    font-size: 9px;
}
/*1425 423*/
main{
    display: flex;
    padding-top:80px;
    height: 100%;
    margin: 0;
    width: 100%;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;


}
.gif{
    max-height: 100px;
    height: auto;
    max-width: 100%;
    width:auto;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    padding-bottom: 10px;
}
.gif1 img{
    max-height: 100px;
    height: auto;
    max-width: 100%;
    width: auto;
}
.myntra{
    max-height:416px ;
    height: auto;
    max-width: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
}
.offers{
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
}

.offer1 img{
    max-height: 140px;
    height: auto;
    max-width: 50%;
    width: auto;
   
   
}
.offer2 img{
    max-height: 140px;
    height: auto;
    max-width: 50%;
    width: auto;
    
}
.crdeals{
    max-height: 110px;
    height: auto;
    max-width: 100%;
    width: auto;

}
img {
    max-height: 110px;
    height: auto;
    max-width: 100%;
    width: auto;
}

.banner1{
    max-height: 416px;
    height: auto;
    max-width: 100%;
    width: auto;
}
img{
    max-height: 416px;
    height: auto;
    max-width: 100%;
    width: auto;
}
.crzy{
    display: flex;
    max-height: 110px;
    height: auto;
    max-width: 100%;
    width: auto;
    flex-direction:column;
    justify-content: center;
    flex-shrink: 1;
}
.pics{
    display: flex;
    max-height: 168px;
    height: auto;
    max-width: 100%;
    width: auto;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;

}
.off{
    max-height: 168px;
    height: auto;
    max-width: 100%;
    width: auto;

}
.catban{ display: flex;
    max-height: 110px;
    height: auto;
    max-width: 100%;
    width: auto;
    flex-direction:column;
    justify-content: center;
    flex-shrink: 1;
    

}
.cban{
    max-height: 110px;
    height: auto;
    max-width: 100%;
    width: auto;
}
.photos{
    display: flex;
    max-height: 310px;
    height: auto;
    max-width: 100%;
    width: auto;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: 1;

}
.photos1{
    display: flex;
    max-height: 310px;
    height: auto;
    max-width: 100%;
    width: auto;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: 1;

}
.offs{
    max-height: 290px;
    height: auto;
    max-width: 100%;
    width: auto;

}
.labanner{
    max-height: 255px;
    height: auto;
    max-width: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}
.lban{
    max-height: 255px;
    height: auto;
    max-width: 100%;
    width: auto;
}
